.bg-green-400 {
    --tw-text-opacity: 1;
    background-color: rgba(52, 211, 153, var(--tw-text-opacity)) !important;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
}
.text-green-400 {
    --tw-text-opacity: 1;
    color: rgba(52, 211, 153, var(--tw-text-opacity)) !important;
}
.text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity)) !important;
}